.job-item-details-section {
  background-color: #000;
  padding: 10px;
}

.jobDetailsRoute {
  background-color: #000;
  padding: 30px;
}

.job-details-card {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  list-style-type: none;
}

.description {
  line-height: 2;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .description {
    font-size: 12px;
  }
}
.job-title {
  margin-bottom: 5px;
}

.logo-img {
  height: 50px;
  width: 50px;
}
.salary {
  font-size: 14px;
}
.second-heading {
  color: #f1f5f9;
  font-weight: 600;
  font-size: 16px;
  font-family: Roboto;
}

.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .skills-list-container {
    display: flex;
    flex-direction: column;
  }
}

.description-companyLink-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company-link {
  display: flex;
  align-items: center;
  color: #4f46e5;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
  text-decoration: underline;
}

.life-at-company-section {
  display: flex;
}

.life-at-company-description {
  color: #f1f5f9;
  line-height: 2;
  font-size: 14px;
  font-family: Roboto;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .life-at-company-description {
    font-size: 12px;
  }
}

.life-at-company-pic {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}

.similar-jobs-list-container {
  display: flex;
  padding: 0px;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-heading {
  font-size: 30px;
  font-weight: 600;
  font-family: Roboto;
  color: #f1f5f9;
}

.failure-description {
  font-size: 12px;
  font-family: Roboto;
  color: #cbd5e1;
}

.retry-btn {
  background-color: #4f46e5;
  color: #f1f5f9;
  font-size: 12px;
  line-height: 2;
  font-family: Roboto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
